In [1]:
import numpy as np
import pandas as pd

In [4]:
# b_data is short for business dataset
# lines = True helps with the Trailing data ValueError

b_data = pd.read_json('../../data_projects/data/yelp/yelp_dataset/yelp_academic_dataset_business.json', lines = True)

In [3]:
b_data.drop(b_data.columns.difference(['business_id', 'attributes']), axis = 1, inplace = True)

In [4]:
b_data

,business_id,attributes
0,Pns2l4eNsfO8kk83dixA6A,{'ByAppointmentOnly': 'True'}
1,mpf3x-BjTdTEA3yCZrAYPw,{'BusinessAcceptsCreditCards': 'True'}
2,tUFrWirKiKi_TAnsVWINQQ,"{'BikeParking': 'True', 'BusinessAcceptsCredit..."
3,MTSW4McQd7CbVtyjqoe9mw,"{'RestaurantsDelivery': 'False', 'OutdoorSeati..."
4,mWMc6_wTdE0EUBKIGXDVfA,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc..."
...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,"{'ByAppointmentOnly': 'False', 'RestaurantsPri..."
150342,c8GjPIOTGVmIemT7j5_SyQ,"{'BusinessAcceptsCreditCards': 'True', 'Restau..."
150343,_QAMST-NrQobXduilWEqSw,"{'RestaurantsPriceRange2': '1', 'BusinessAccep..."
150344,mtGm22y5c2UHNXDFAjaPNw,"{'BusinessParking': '{'garage': False, 'street..."
150345,jV_XOycEzSlTx-65W906pg,"{'WheelchairAccessible': 'True', 'BusinessAcce..."

In [6]:
att_df = pd.json_normalize(b_data['attributes'].to_list())
att_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 39 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   ByAppointmentOnly           42339 non-null   object
 1   BusinessAcceptsCreditCards  119765 non-null  object
 2   BikeParking                 72638 non-null   object
 3   RestaurantsPriceRange2      85314 non-null   object
 4   CoatCheck                   5584 non-null    object
 5   RestaurantsTakeOut          59857 non-null   object
 6   RestaurantsDelivery         56282 non-null   object
 7   Caters                      40127 non-null   object
 8   WiFi                        56914 non-null   object
 9   BusinessParking             91085 non-null   object
 10  WheelchairAccessible        28953 non-null   object
 11  HappyHour                   15171 non-null   object
 12  OutdoorSeating              48802 non-null   object
 13  HasTV                       45084 non-null   object
 14  RestaurantsReservations     45247 non-null   object
 15  DogsAllowed                 18284 non-null   object
 16  Alcohol                     43189 non-null   object
 17  GoodForKids                 53375 non-null   object
 18  RestaurantsAttire           39255 non-null   object
 19  Ambience                    44279 non-null   object
 20  RestaurantsTableService     19982 non-null   object
 21  RestaurantsGoodForGroups    44170 non-null   object
 22  DriveThru                   7760 non-null    object
 23  NoiseLevel                  37993 non-null   object
 24  GoodForMeal                 29087 non-null   object
 25  BusinessAcceptsBitcoin      17430 non-null   object
 26  Smoking                     4567 non-null    object
 27  Music                       7521 non-null    object
 28  GoodForDancing              4628 non-null    object
 29  AcceptsInsurance            5713 non-null    object
 30  BestNights                  5694 non-null    object
 31  BYOB                        4451 non-null    object
 32  Corkage                     3553 non-null    object
 33  BYOBCorkage                 1444 non-null    object
 34  HairSpecializesIn           1065 non-null    object
 35  Open24Hours                 39 non-null      object
 36  RestaurantsCounterService   19 non-null      object
 37  AgesAllowed                 129 non-null     object
 38  DietaryRestrictions         31 non-null      object
dtypes: object(39)
memory usage: 44.7+ MB

In [24]:
# Lets us explore the values of the columns.
# Will be helpful for knowing if other columns consist of JSON data

column_string = 'BestNights'

print (att_df[att_df['GoodForDancing'].notnull()]['GoodForDancing'].value_counts())
print ('\n')
print (att_df[att_df[column_string].notnull()][column_string].value_counts().to_list())

False    3726
True      902
Name: GoodForDancing, dtype: int64


[950, 881, 380, 312, 299, 273, 272, 222, 206, 195, 86, 79, 78, 76, 68, 63, 49, 48, 47, 44, 44, 43, 41, 36, 36, 31, 31, 30, 27, 26, 26, 25, 23, 23, 23, 23, 22, 20, 19, 19, 18, 17, 16, 16, 16, 16, 15, 14, 14, 14, 14, 14, 13, 13, 13, 12, 12, 12, 11, 10, 9, 9, 9, 8, 8, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 5, 5, 5, 5, 5, 5, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [21]:
# These are the columns that may have values that are not booleans.

for col in att_df.columns.to_list():
    if len(att_df[att_df[col].notnull()][col].value_counts().to_list()) > 3:
        print (col)

RestaurantsPriceRange2
WiFi
BusinessParking
Alcohol
RestaurantsAttire
Ambience
NoiseLevel
GoodForMeal
Smoking
Music
BestNights
BYOBCorkage
HairSpecializesIn
DietaryRestrictions

In [36]:
# Lets us explore the values of the columns.
# Will be helpful for knowing if other columns consist of JSON data

column_string = 'BYOBCorkage'

print (att_df[att_df[column_string].notnull()][column_string].value_counts())
print ('\n')
print (att_df[att_df[column_string].notnull()][column_string].value_counts().to_list())

'no'              730
'yes_free'        572
'yes_corkage'      93
u'yes_free'        18
u'no'              17
u'yes_corkage'      9
None                5
Name: BYOBCorkage, dtype: int64


[730, 572, 93, 18, 17, 9, 5]

In [35]:
att_df[att_df[column_string].notnull()][column_string].value_counts()

u'average'      21581
u'quiet'         6460
'average'        4607
u'loud'          2447
'quiet'          1174
u'very_loud'     1067
'loud'            485
'very_loud'       133
None               39
Name: NoiseLevel, dtype: int64